h2(style="text-align:center;") 강의평가 보기
hr(border:"2" bordercolor:"red")
input(type="text" id="community_search" placeholder="과목,교수이름,수강번호로 검색 [입력이 없으면 최신 순으로 정렬]" class="form-control" style="float:bottom; width:90%; margin-bottom:5px;margin-left:5%;" onkeydown="Search_Community_Info()")
div(id="communitycontainor" style="width:90%; margin-left:5%;")