h2(style="margin-left:36%;") YoUTime Login
hr
form(name="login" method="post" style="margin-left:33%;")
  input(type="email" name="EMail" id="EMailin" placeholder="E-Mail" class="form-control" style="width:30%;")
  p
  input(type="password" name="PassWord" id="PassWord" placeholder="PassWord" class="form-control" style="width:30%;" )
  p
  input(type="button" value="로그인" onclick="login_check()" class="form-control" style="width:30%;" )