h1 로그인 사용자만 이용가능 합니다.
.btncontainor
  input(type="button" onclick="location.href='/login'" value="로그인" class="form-control" style="float:left; margin:1%; width:45%;")
  input(type="button" onclick="location.href='/sign_up'" value="회원 가입" class="form-control" style="float:left;margin:1%; width:45%;")